body .box {
  width: 100%;
  background-color: #00498c;
  color: #fff;
}
body .box:hover {
  background-color: #fff;
}
body #test {
  color: #00498c;
}
header{
  background-color : #fff;
  color : #111;
  div{
    width: 100px;
    height: 100px;
  }
}