/*
CSS Emmet : 코드를 작성할때 빠르게 작성할수 있도록 도와주는 단축어로써 뒤에 숫자를 붙이며 적고 tab을 누르면 완성한다.
mt : margin-to의 약어이다.
pb : padding-bottom의 약어이다.
w : width의 약어이다.
h : height의 약어
bd : border의 악어
bgc : background-color의 약어
fsz : font-size의 약어
fw : font-weight의 약어
c : color의 약어
z : z-index의 약어
*/