@charset "UTF-8";
div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

/*
use : 다른 sass(scss)파일에 있는 css속성들을 가져올때 사용한다. 같은 파일에 있는경우 파일 이름만 입력해도 적용이 가능하다.
as : use에 적용한 파일이름이 너무 길어질 경우 대체 할수있는 이름을 부여한다.
*/
.box {
  color: red;
}